<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Neuton SC</string>
    <key>styleName</key>
    <string>SC-Bold</string>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>46</integer>
    <key>copyright</key>
    <string>Copyright (c) 2010, 2011 Brian M Zick (http://21326.info/), 
with Reserved Font Name 'Neuton SC'.

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is available with a FAQ at: http://scripts.sil.org/OFL
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>ascender</key>
    <integer>1638</integer>
    <key>descender</key>
    <integer>-410</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>note</key>
    <string>2011-12-4: Created.</string>
    <key>openTypeHeadCreated</key>
    <string>2011/12/04 17:31:18</string>
    <key>openTypeHheaAscender</key>
    <integer>2106</integer>
    <key>openTypeHheaDescender</key>
    <integer>-485</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameVersion</key>
    <string>Version 1.46</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>700</integer>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>2106</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-485</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2106</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>485</integer>
    <key>postscriptFontName</key>
    <string>Neuton-SC-Bold</string>
    <key>postscriptFullName</key>
    <string>Neuton SC Bold</string>
    <key>postscriptWeightName</key>
    <string>Bold</string>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
  </dict>
</plist>
